[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Valdo Flor
	email = 82148347+ValdoMoraisFlor@users.noreply.github.com
